<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>This is the placeholder for Prove Assignment 01</p>
    <p>Your first name is: <%= firstName %></p>
    <p>Your last name is: <%= lastName %></p>
  </div>
</div>
<div class="container">
  
</div>


</body>
</html>