<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>This is the placeholder for Prove Assignment 01</p>
    <form action="/prove01" method="POST">
      <label for="first">FirstName</label>
      <input type="text" name="first" placeholder="First Name">
      <label for="last">FirstName</label>
      <input type="text" name="last" placeholder="Last Name">
      <button type="submit"></button>
    </form>
  </div>
</div>
<div class="container">
  
</div>


</body>
</html>